*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    display: grid;
    grid-template-rows: 70px,1fr,auto;
    height:100vh;
}
a{
    text-decoration: none;
    color:inherit;
}
img{
    width:100%;
}
header{
    padding:10px;
   color:#2c3c60;
}

li{
    list-style: none;
    font-size:1.1rem;
    font-weight: bold;
}
.header-items{
    display:grid;
    grid-template-columns: 200px repeat(3,100px) repeat(3,120px);
    place-items: center;
    gap:5px;
    padding:10px;
}
.btn-list{
    justify-content: end;
    margin-left:1100px;
}
.header-title{
    font-size: 2.5rem;
    margin-right:20px;
}
.btn-list button{
    /* margin-left:200px; */
    width:50px;
    height:30px;
    border:none;
    background-color: white;
}
.btn-list button i{
    font-size:20px;
    cursor: pointer;
    color:#2c3c60;
}
.girls,.guys,.sale{
    cursor: pointer;
}
main{
    display: grid;
    gap:5px;
    padding:30px;
  
}
main h2{
    margin-left:40px;
    color:#2c3c60
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,250px);
    place-items: center;
    gap:25px;
    padding:30px;
}
.item-card{
    display: grid;
    grid-template-rows: auto auto 50px auto;
    gap:5px;
    padding:10px;
   
}
.item-name{
    
    font-size:17px;
}
.discount-price{
    text-decoration: line-through;
    
}
.item-discounted-price{
    color:red;
    font-size: 18px;
    font-weight: bold;
}
.item-price{
    font-size: 18px;
    font-weight: bold;
}
.prices{
    display: grid;
    grid-template-columns: repeat(2,70px);
    place-items: start;
    padding:5px;
}
.new-tag{
    font-size:12px;
    width:50px;
    text-align: center;
    color:white;
    background-color: royalblue;
    border-radius: 10px;
    border-bottom-right-radius:0 ;
    border-bottom-left-radius:0 ;
    padding:5px 8px;
    justify-self: end;
  
}
footer{
    display: grid;
    grid-template-columns: 1fr auto;
    place-items: start;
    align-content: center;
    background-color: #eeeeee;
    padding:30px 60px;
    color:#2c3c60;
    height:100px;
    
}